# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
entorno_virtual/
.venv/
venv/
env/

# IDE/Editor files
.vscode/
.idea/

# Database files
*.sql
*.sqlite
*.sqlite3

# Environment variables
.env
.flaskenv

# Other cache and temporary files
.pytest_cache/
*.log
*.tmp
dist/
build/